 .footer {
    font-size: 17px;
    padding: 15px 5px;
    color: black;
    text-align: center;
    position:fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  
  .footer a {
    text-decoration: none;
    color: #fff;
  }

  @media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 1000px)
  and (-webkit-min-device-pixel-ratio: 2) {
   .footer {
      font-size: 17px;
      padding: 15px 5px;
      color: black;
      text-align: center;
      position:relative;
      bottom: 0px;
    }
    
    .footer a {
      text-decoration: none;
      color: #fff;
    }
}
